* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Mulish', sans-serif;
}

.continer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50%;
  box-shadow: #cecdcd 0.1rem 0.4rem 0.5rem 0.1rem;
}

.title,
.add {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  font-size: 2rem;
  border-bottom: #e6e4e4 solid 0.1rem;
}

.add {
  color: #7c7a7a;
}

.itm-1 {
  min-width: 95%;
}

.itm-2 {
  margin-left: auto;
  color: #888585;
}

.input {
  margin: -1rem;
  padding: 1rem;
  border: none;
}

::-webkit-input-placeholder {
  font-size: 1.5rem;
  font-weight: 200;
  font-style: italic;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.list li {
  display: flex;
  font-size: 1.7rem;
  font-weight: 300;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: #e6e4e4 solid 0.1rem;
}

.el-1 {
  margin-left: 1rem;
  margin-right: 1rem;
  color: #cecdcd;
}

.checkbox::after {
  width: 100%;
  height: 100%;
  background-color: rgb(36, 27, 27);
  color: #7c7a7a;
}

.line {
  text-decoration: line-through;
}

.hidden {
  display: none;
}

.el-3 {
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #cecdcd;
}

.todo-btn {
  border: none;
  min-height: 4rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  color: #7c7a7a;
}
